/* ---------------------------------- Fonts --------------------------------- */
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'League Spartan', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ------------------------- estilo cabecalho geral ------------------------- */
/*div completa*/

.estilonav {
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 6;
  transition: all 0.2s;
}

.estilonav.active {
  width: 100%;
  box-sizing: border-box;
  background: #0c041b;
  position: fixed;
  z-index: 6;
}

.navbar-brand {
  margin-left: 3.5%;
  width: 15vmin;
  height: auto;
  transition: all 0.5s;
}

.NavItem {
  width: 500px;
}

.invisivel {
  margin-right: 3.5%;
  opacity: 0%;
  pointer-events: none;
  transition: all 0.2s;
}

.visivel {
  margin-right: 3.5%;
  opacity: 100%;
  transition: all 0.2s;
}
