/* ---------------------------------- Fonts --------------------------------- */
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'League Spartan', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ------------------------- estilo cabecalho geral ------------------------- */
/*div completa*/
.toposize {
  height: 60vmin;
  margin: 0px;
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/src/Pages/Home/Src/Imgs/wave.png");
}

.topo {
  font-family: "League Spartan";
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.fundotopo {
  margin: 0px;
  padding: 0px;
  background: #c33764;
  background: linear-gradient(135deg, #c33764 0%, #3e2272 76%);
}

.h3cab {
  margin: 10% 0% 0% 0%;
  font-size: 7vmin;
  color: white;
}

.h2cab {
  font-size: 12.2vmin;
  text-transform: uppercase;
  color: white;
}

.pesquisaCab {
  margin-top: -100px;
  width: 56vmin;
}

.h3-shadow-pop-bottom {
  -webkit-animation: text-shadow-pop-br 1s 0.5s both;
  animation: text-shadow-pop-br 1s 0.5s both;
}

.h2-shadow-pop-bottom {
  -webkit-animation: text-shadow-pop-br 1s 1s both;
  animation: text-shadow-pop-br 1s 1s both;
}

/**
 * ----------------------------------------
 * animation text-shadow-pop-br
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #2c1358, 0 0 #2c1358, 0 0 #2c1358, 0 0 #2c1358, 0 0 #2c1358,
      0 0 #2c1358, 0 0 #2c1358, 0 0 #2c1358;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #2c1358, 2px 2px #2c1358, 3px 3px #2c1358,
      4px 4px #2c1358, 5px 5px #2c1358, 6px 6px #2c1358, 7px 7px #2c1358,
      8px 8px #2c1358;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes text-shadow-pop-br {
  0% {
    text-shadow: 0 0 #2c1358, 0 0 #2c1358, 0 0 #2c1358, 0 0 #2c1358, 0 0 #2c1358,
      0 0 #2c1358, 0 0 #2c1358, 0 0 #2c1358;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    text-shadow: 1px 1px #2c1358, 2px 2px #2c1358, 3px 3px #2c1358,
      4px 4px #2c1358, 5px 5px #2c1358, 6px 6px #2c1358, 7px 7px #2c1358,
      8px 8px #2c1358;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
