/* ---------------------------------- Fonts --------------------------------- */
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'League Spartan', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* ------------------------- estilo cabecalho geral ------------------------- */
/*div completa*/
.fundotopo {
  height: 520px;
  box-sizing: border-box;
  background-color: #3e2272;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

.estilobusca {
  margin-top: -65px;
}

/* --------------------- Posições pokebolas do cabecalho -------------------- */
/*posição esquerda*/
.left1 {
  margin-right: 1%;
  padding: 0px;
  width: 200px;
  height: 200px;
  opacity: 40%;
}
.left2 {
  margin-right: -70px;
  padding: 0px;
  width: 250px;
  height: 250px;
  opacity: 70%;
}
/*posição gif central*/
.gifcenter {
  padding: 0px;
  width: 510px;
}
/*posição direita*/
.right2 {
  margin-left: -70px;
  padding: 0px;
  width: 250px;
  height: 250px;
  opacity: 70%;
}
.right1 {
  margin-left: 1%;
  padding: 0px;
  width: 200px;
  height: 200px;
  opacity: 40%;
}
