/* ---------------------------------- Fonts --------------------------------- */
/*
font-family: 'Bebas Neue', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'League Spartan', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

ul {
  list-style-type: none;
}

.infodiv {
  width: 100%;
  animation: focusfont 1s 0.2s both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8vw;
  margin-right: 30px;
}

.itenslista {
  margin: 1vw;
  width: 19vw;
  border-bottom: solid 1px #fff;
  border-radius: 30px;
  animation: focusfont 1s 0.2s both;
  font-family: "Jost";
  text-transform: capitalize;
  color: #ffffff;
  font-size: max(1.5vmin, 12px);
}

.statslista {
  margin: 0.4vw;
  width: 13vw;
  border-bottom: solid 1px #fff;
  border-radius: 30px;
  animation: focusfont 1s 0.2s both;
  font-family: "Jost";
  text-transform: capitalize;
  color: #ffffff;
  font-size: max(1.5vmin, 12px);
}

.tablestyle {
  margin: -7px 0vw;
  padding: 5px;
  width: 27vw;
  border-left: dashed 1px #ffffff65;
  border-right: dashed 1px #ffffff65;
  border-bottom: solid 1px #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: focusfont 1s 0.2s both;
  font-family: "Jost";
  text-transform: capitalize;
  color: #ffffff;
  font-size: max(1.5vmin, 12px);
}

.Htablestyle {
  margin: 0px;
  padding: 5px;
  width: 27vw;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  animation: focusfont 1s 0.2s both;
  font-family: "Jost";
  text-transform: capitalize;
  color: #ffffff;
  font-size: max(1.5vmin, 12px);
}

p.subtitulo {
  animation: focusfont 1s 0.2s both;
  font-family: "Jost";
  text-transform: uppercase;
  color: #ffffff;
  font-size: max(3vmin, 15px);
  font-weight: 500;
  margin-right: -28px;
}

.linha {
  width: 100%;
  text-align: center;
  border-bottom: 1px dashed #ffffff2c;
  line-height: 0.1em;
  margin: 10vw 0 5vw;
}

.linha span {
  background: #0c041b;
  padding: 0 10px;
}
